.login {
    background: url('../../../public/login2.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    height: 100vh;
}

.login-grid {
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-box{
    background: url('../../../public/login1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-button{
    background-color:  '#06038D';
    &:hove{
        background-color:  '#050372';
    }
}