@font-face {
    font-family: "Lexend";
    
    src: url('../../../public/fonts/Lexend-VariableFont_wght.ttf') format("truetype");
    /*he url is the path to your local font file*/
    /*If your font file ends in .otf, use ("opentype") for format, and look up the corresponding keywords on the web!*/
}

.form {
    padding: 1rem;
}

.button {
    background-color: rgba(6, 4, 140) !important;
    &:hover {
        background-color: '#050372' ;
    }
}
.title {
    font-family: Lexend;
    font-size: 40px;
}

.form .css-1ps6pg7-MuiPaper-root{
    box-shadow: none;
}