/* gFont.css */

.gFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.mainbox {
  width: 100vw;
  overflow: hidden;
}
.mainbox .container {
  display: flex;
  height: 100vh;
  flex-wrap: nowrap;
}
.mainbox .container > .leftbox {
  width: 200px;
  flex-shrink: 0;
  box-shadow: 4px 0px #ccc;
}
.mainbox .container .maincenter {
  flex-grow: 1;
  background-color: #fff;
  padding: 20px;
}
/* ============================================ */

@media screen and (max-width: 640px) {
  .loginbox .main {
    width: 80%;
    margin: auto;
  }
}
.MuiSnackbarContent-root {
  padding: 0 !important;
  margin-top: 0;
}
.MuiSnackbarContent-root .MuiSnackbarContent-message {
  text-align: center;
  display: block;
  width: 100%;
}
.MuiSnackbarContent-root .MuiSnackbarContent-action {
  width: 100%;
}
.MuiSnackbarContent-root .MuiSnackbarContent-action span {
  display: inline-block;
  width: 100%;
}
.MuiSnackbarContent-root .MuiSnackbarContent-action .msgtxt {
  text-align: left;
}
/* 文章列表 */
#mainlist .topbox {
  background: transparent url('https://picsum.photos/1200/400') no-repeat top scroll;
  background-size: cover;
  width: 100%;
  height: 300px;
  padding-top: 120px;
}
#mainlist .topbox .mainbox {
  height: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
}
#mainlist .topbox .mainbox .head {
  position: absolute;
  top: -50px;
  left: 10px;
  border: 4px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}
#mainlist .topbox .mainbox .head img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#mainlist .topbox .mainbox .showdetail {
  position: absolute;
  top: -20px;
  right: 30px;
  overflow: hidden;
}
#mainlist .topbox .mainbox .add {
  position: absolute;
  top: 30px;
  right: 30px;
  overflow: hidden;
}
#mainlist .topbox .mainbox .usernews {
  padding: 90px 30px 0 30px;
}
#mainlist .topbox .mainbox .usernews .tit {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  font-weight: bold;
  color: #333;
}
#mainlist .topbox .mainbox .usernews .desc {
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  color: #666;
}
/* 用户列表 */
#userList .MuiTypography-root {
  padding: 30px;
}
#userList .topbox {
  background: transparent url('https://picsum.photos/1200/400') no-repeat top scroll;
  background-size: cover;
  width: 100%;
  padding-top: 120px;
  box-sizing: border-box;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 0px 14px #ccc;
}
#userList .topbox .mainbox {
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  width: 100%;
}
#userList .topbox .mainbox .head {
  position: absolute;
  top: -50px;
  left: 10px;
  border: 4px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}
#userList .topbox .mainbox .head img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#userList .topbox .mainbox .showdetail {
  position: absolute;
  top: -20px;
  right: 30px;
  overflow: hidden;
}
#userList .topbox .mainbox .add {
  position: absolute;
  top: 30px;
  right: 30px;
  overflow: hidden;
}
#userList .topbox .mainbox .usernews {
  padding: 90px 30px 0 30px;
}
#userList .topbox .mainbox .usernews .tit {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  font-weight: bold;
  color: #333;
}
#userList .topbox .mainbox .usernews .desc {
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  color: #666;
}

/* home */
#home .cardList {
  padding: 30px 0;
  text-align: center;
}
#nameinputbox input {
  font-size: 14px;
  line-height: 30px;
  width: 200px;
  text-align: left;
  height: 30px;
  padding: 0 10px;
  border: 1px solid #ccc;
}
/* card */
.cardbox .MuiTypography-root {
  text-align: left;
}
