#exam h2 {
  font-size: 30px;
}
#exam .maincenter {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  overflow-y: auto;
}
#exam .maincenter .topline {
  min-height: 140px;
  width: 100%;
  background: transparent url('../../assets/background.png') no-repeat top fixed;
  background-size: cover;
  box-sizing: border-box;
  flex-shrink: 0;
}
#exam .maincenter .topline .topMain {
  padding: 20px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
#exam .maincenter .topline .topMain a {
  display: block;
  text-align: center;
}
#exam .maincenter .topline .topMain button {
  margin-right: 10px;
}
#exam .maincenter .topline h2 {
  font-weight: bold;
  padding-bottom: 10px;
}
#exam .maincenter .topline p {
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}
#exam .maincenter .topline button {
  margin-right: 10px;
}
#exam .maincenter .centerbox {
  background-color: #fff;
  width: 100%;
  flex-wrap: nowrap;
}
#exam .maincenter .centerbox > .btn-group {
  align-items: center;
  flex-direction: center;
}
#exam .maincenter .centerbox .leftbox {
  width: 70%;
  text-align: left;
  padding: 10px;
}
#exam .maincenter .centerbox .leftbox .timesline {
  padding: 10px 0;
  text-align: left;
  line-height: 40px;
}
#exam .maincenter .centerbox .righttxt {
  font-size: 24px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
  padding: 10px 0;
}
#exam .maincenter .centerbox .righttxt span {
  font-size: 40px;
}
#exam .maincenter .tipbox {
  text-align: left;
  padding: 20px;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
}
#exam .maincenter .tipbox h2 {
  display: block;
  text-align: left;
  padding: 20px 0;
}
#exam .maincenter .tipbox .desc {
  font-size: 16px;
  line-height: 30px;
  text-align: left;
}

/* Responsive styles */
@media (max-width: 600px) {
  #exam h2 {
    font-size: 24px;
  }

  #exam .maincenter .topline {
    min-height: 100px;
  }

  #exam .maincenter .topline .topMain {
    padding: 10px;
  }

  #exam .maincenter .centerbox .leftbox {
    width: 100%;
    padding: 10px;
  }

  #exam .maincenter .centerbox .leftbox .timesline {
    line-height: 24px;
  }

  #exam .maincenter .centerbox .righttxt span {
    font-size: 30px;
  }

  #exam .maincenter .tipbox h2 {
    padding: 10px 0;
  }

  #exam .maincenter .tipbox .desc {
    font-size: 14px;
    line-height: 24px;
  }
}
